@model List<CarProjectCQRS.CQRSPattern.Results.Feature.GetFeatureQueryResult>


<div class="container-fluid feature py-5">
    <div class="container py-5">
		
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            @foreach (var item in Model)
            {
				var words = item.Title.Split(' ');
				var firstWord = words.Length > 0 ? words[0] : "";
				var secondWord = words.Length > 1 ? words[1] : "";
                <h1 class="display-5 text-capitalize mb-3">@firstWord <span class="text-primary">@secondWord</span></h1>
                <p class="mb-0">
                    @item.Description
                </p>

            }       
            </div>


        @await Component.InvokeAsync("FeaturesIconComponentPartial")
    </div>
</div>
