@model List<CarProjectCQRS.CQRSPattern.Results.Testimonial.GetTestimonialQueryResult>

<div class="container-fluid testimonial pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize mb-3">Our Clients<span class="text-primary"> Reviews</span></h1>
            <p class="mb-0">
                Rent a car with ease and comfort. Whether you need a vehicle for a business trip, family vacation, or daily commute, we offer a wide range of cars at affordable prices. Enjoy flexible booking options, 24/7 customer support, and well-maintained vehicles to ensure a smooth driving experience.
            </p>
        </div>

        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            @foreach (var item in Model)
            {
                <div class="testimonial-item">
                    <div class="testimonial-quote">
                        <i class="fa fa-quote-right fa-2x"></i>
                    </div>

                    <div class="testimonial-inner d-flex p-4 align-items-start">
                        <img src="@item.ImageUrl" class="img-fluid rounded-circle"
                             style="width: 80px; height: 80px; object-fit: cover; object-position: center;" alt="">
                        <div class="ms-4">
                            <h4>@item.TestimonialName</h4>
                            <p>@item.Comment</p>
                            <div class="d-flex text-primary">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star text-body"></i>
                            </div>
                        </div>
                    </div>

                   
                </div>
            }
        </div>
    </div>
</div>
